<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %} Home {% endblock %}</title>

    </head>

    <style>
      .navbar-nav ml-auto{
          margin-left: auto;
      }
    </style>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                  
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-item nav-link" id="home" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-item nav-link" id="inventory" href="/inventory">Inventory</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-item nav-link" id="settings" href="/settings">Settings</a>
                      </li>
                    {% if not session['username'] %} 
                      <li class="nav-item">
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                      </li>
                  
                      <li class="nav-item">
                        <a class="nav-item nav-link" id="signup" href="/signUp">Sign Up</a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>

            {% block content %} {% endblock %}






        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
  
    </body>

</html>