{% extends "base.html" %} {% block title %}Storage"R"Us{% endblock %}
{% block content %}
<style>
    .center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  span {
        background-color:white;
        padding: 5px;
        border: 2px solid black;
    }
</style>

<body style="background-color:#95a4b6;" class="center">
    <h1>Edit Inventory</h1> <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <p style="color:black;"><span>{{ message }}</span></p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <form method="post">
        <input type="hidden" name="invName" value="edit" /> 
        <input type="hidden" name="invName" value="add" /> 
        <label for="sNum">New Serial Number:&emsp;</label>
        <input type="text" name="sNum" style="color:#28211e; background-color:#cdc1a8;"
            value="{{ request.form['sNum'] }}"></input>
        <br>
        <label for="name">New Item Name:&emsp;&emsp;&nbsp;</label>
        <input type="text" name="name" style="color:#28211e; background-color:#cdc1a8;"
            value="{{ request.form['name'] }}"></input>
        <br>
        <label for="iQuantity">New Item Quantity:&emsp;</label>
        <input type="number" min="1" name="iQuantity" style="color:#28211e; background-color:#cdc1a8;"
            value="{{ request.form['iQuantity'] }}"></input>
        <br><br>
        <button type="submit" style="background-color: #828d6f; color:#28211e">Submit</button>
        <br><br><br>
    </form>
</body>

{% endblock %}