{% extends "base.html" %} {% block title %}Storage"R"Us{% endblock %}
{% block content %}
<style>
    .center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<body style="background-color:#95a4b6;" class="center">
    <h1>Home</h1>
    <hr>
    <b>Welcome to Storage"R"Us a website designed to keep track of your local storage 
        inventory items. With this webpage you will be able to track your 
        stored items from a tiny basement to a large warehouse!</b>
    <br><br>
    <img src="{{url_for('static', filename='pic1.jpg')}}" width="90%" height="500" class="center"> 
    </body>
{% endblock %}