{% extends "base.html" %} {% block title %}Storage"R"Us{% endblock %}
{% block content %}
<style>
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .center {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .center {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    span {
        background-color:white;
        padding: 5px;
        border: 2px solid black;
    }

</style>

<body style="background-color:#95a4b6;" class="center">
    <h1> Inventory </h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <p><span>{{ message }}</span></p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <hr>
    <div class="row">
        <div class="column">
            <h4> Add Inventory </h4> <br>
                <form method="post">
                    <input type="hidden" name="invName" value="add" /> 
                    <label for="sNum">Serial Number:&emsp;</label>
                    <input type="text" name="sNum" required style="color:#28211e; background-color:#cdc1a8;"
                        value="{{ request.form['sNum'] }}"></input>
                    <br>
                    <label for="name">Item Name:&emsp;&emsp;&nbsp;</label>
                    <input type="text" name="name" required style="color:#28211e; background-color:#cdc1a8;"
                        value="{{ request.form['name'] }}"></input>
                    <br>
                    <label for="iQuantity">Item Quantity:&emsp;</label>
                    <input type="number" min="1" name="iQuantity" required style="color:#28211e; background-color:#cdc1a8;"
                        value="{{ request.form['iQuantity'] }}"></input>
                    <br><br>
                    <button type="submit" style="background-color: #828d6f; color:#28211e">Submit</button>
                    <br><br>
                </form>
        </div>
        <div class="column">
            <h4> Search Inventory </h4>
                <br>
                <form method="post">
                    <input type="hidden" name="invName" value="search" /> 
                    <label for="fNum">Serial Number:&emsp;</label> 
                    <input type="text" required name="fNum" style="color:#28211e; background-color:#cdc1a8;"
                        value="{{ request.form['fNum'] }}"></input>
                    <br><br>
                    <button type="submit" style="background-color: #828d6f; color:#28211e">Search</button>
                </form>
                
        </div>
        <img src="{{url_for('static', filename='pic2.jpg')}}" width="75%" class="center"> 

        

    </div>

    

    
</body>
{% endblock %}