{% extends "base.html" %} {% block title %}Storage"R"Us{% endblock %}
{% block content %}
<style>
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .center {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    span {
        background-color:white;
        padding: 5px;
        border: 2px solid black;
    }
</style>

<body style="background-color:#95a4b6;" class="center">
    <h1> Settings </h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <p><span>{{ message }}</span></p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <hr>
    <div class="row">
        <div class="column">
            <h3> Edit Inventory </h3>
                <br>
                <form method="post">
                    <input type="hidden" name="invName" value="edit" /> 
                    <label for="num">Serial Number:&emsp;</label>
                    <input type="text" name="num" style="color:#28211e; background-color:#cdc1a8;"
                        value="{{ request.form['num'] }}"></input>
                    <br><br>
                    <button type="submit" style="background-color: #828d6f; color:#28211e">Search</button>
                </form>
        </div>
        <div class="column">
            <h3> Remove Inventory </h3>
                <br>
                <form method="post">
                    <input type="hidden" name="invName" value="remove" /> 
                    <label for="fNum">Serial Number:&emsp;</label>
                    <input type="text" name="fNum" style="color:#28211e; background-color:#cdc1a8;"
                        value="{{ request.form['fNum'] }}"></input>
                    <br>
                    <label for="iQuantity">Item Quantity:&emsp;&nbsp;</label>
                    <input type="number" min="0" name="iQuantity" required style="color:#28211e; background-color:#cdc1a8;"
                        value="{{ request.form['iQuantity'] }}"></input>
                    <br><br>
                    <button type="submit" style="background-color: #828d6f; color:#28211e">Remove</button>
                    <br><br><br>
                </form>
        </div>
    </div>
    <img src="{{url_for('static', filename='pic3.jpg')}}" width="90%" class="center"> 


    
</body>
{% endblock %}