{% extends "base.html" %} {% block title %}Storage"R"Us{% endblock %}
{% block content %}
<style>
    .center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<body style="background-color:#95a4b6;" class="center">
	<form method = post>
		<div class="container">
		  <h1 style="color:#28211e">Sign Up</h1>
		  <p style="color:#28211e">Please fill in this form to create an account.</p>
		  <hr>
			<!-- This is the input for the email-->
		  <label for="email" style="color:#28211e"><b>Email&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</b></label>
		  <input type="text" placeholder="Enter Email" name="email" required style="color:#28211e; background-color:#cdc1a8;">
		  <br>
		   <!-- This is the input for the password-->
		  <label for="psw" style="color:#28211e"><b>Password&emsp;&emsp;&emsp;&emsp;&ensp;</b></label>
		  <input type="password" placeholder="Enter Password" name="psw" required style="color:#28211e; background-color:#cdc1a8;">
		  <br>
		   <!-- This is the input for checking password-->
		  <label for="psw-repeat" style="color:#28211e"><b>Repeat Password&emsp;</b></label>
		  <input type="password" placeholder="Repeat Password" name="psw-repeat" required style="color:#28211e;background-color:#cdc1a8;">
			<!-- a remember me check for the password-->
			<br>
		  <label>
			<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px" style="color:#28211e"> Remember me
		  </label>
	  
		  <p style="color:#28211e">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		  <!-- These are the bottom two buttons-->
		  <div class="clearfix">
			<button type="button" class="cancelbtn" style="background-color: #828d6f; color:#28211e">Cancel</button>
			<button type="submit" class="signupbtn" style="background-color: #828d6f; color:#28211e">Sign Up</button>
		  </div>
		</div>
	  </form>
</body>

{% endblock %}