{% extends "base.html" %} {% block title %}Storage"R"Us{% endblock %}
{% block content %}
<style>
    .center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<body style="background-color:#95a4b6;" class="center">

		<!--for the box around the log in information and setting the back ground color of inside of the box-->
		<form method = post>
			<fieldset style="background-color:#95a4b6; ">
				<!--the title of the box section -->
				<div class="container">
					<h1 style="color:#28211e">Sign In:</h1>
					<hr>
					<!--the lable and the text box f-r the email  //curently using email insted of a user name and is wanting input type of email and not text-->
					<label style="color: #28211e" for="email" >Email:&emsp;&emsp;&ensp;&nbsp;</label>
					<input style="background-color:#cdc1a8; color: #28211e;" type="text" id="email" name="email"><br><br>
					<!--the lable and the text box for the password-->
					<label style="color: #28211e" for="password">Password:&emsp;</label>
					<input style="background-color:#cdc1a8; color: #28211e;" type="password" id="password" name="password"><br><br>
					<!--the signin button //currently not conected to another web page at the moment-->
					<button style="background-color: #828d6f; color:#28211e" type="submit">Login</button>
				</div>
			</fieldset>
		</form>
</body>
{% endblock %}